/* html {
    background: url('http://placekitten.com/g/500/500') no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
 */
